::selection{
    background: #a19999;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    line-height: 1.7;
}


.container{
    width: 90%;
    margin: 0 auto;
}

code{
    background: #edf9ff;
}
.primary-heading{
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.header{
    background: #39c;

}
.nav{
    
    a{
        display: block;
        text-decoration: none;
        border-bottom: 1px solid #000000 ;
        background: #39c;
        text-align: center;
        padding: 1rem;
        color: #FFFFFF;
       &:first-child{
           border-top: 1px solid #000000;
       }
    }
    

}


strong{
    color: #39c;
}

.input{
    background: #cff0ff;
    
}

.content{
    background: #edfaff;
}

.tags{
    a{
        color: #39c;
    }
}


@media(min-width:720px){

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 3fr;

    }

    .nav{
        
        overflow-y: scroll;
        grid-column: 1/2;
     
        
    }

    .main{
        grid-column: 2/4;
    }

    .primary-heading{
        grid-column: 1/1;
      
    }
}